<mat-toolbar color="primary">
  <h1>Dynamic Angular CRUD Example</h1>
</mat-toolbar>

<p>Select a button to load the list data asynchonsouly by the method indicated on the button!</p>

<mat-toolbar style="display:flex;justify-content:space-between;margin-bottom:1rem;">
  <button mat-flat-button color="accent" label="Subject" (click)="switchReadMethod($event, 'subject')">Subject</button>
  <button mat-flat-button color="accent" label="Observable" (click)="switchReadMethod($event, 'observable')">Observable</button>
  <button mat-flat-button color="accent" label="Promise" (click)="switchReadMethod($event, 'promise')">Promise</button>
</mat-toolbar>

<main class="d-flex">
  <div id="productList" class="col-md-4">
    <mat-toolbar>
      <h2>Products</h2>
    </mat-toolbar>
    <mat-list>
      <mat-list-item *ngFor="let product of products">
        {{product.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div id="companyList" class="col-md-4">
    <mat-toolbar>
      <h2>Companies</h2>
    </mat-toolbar>
    <mat-list>
      <mat-list-item *ngFor="let company of companies">
        {{company.name}}
      </mat-list-item>
    </mat-list>
  </div>
  <div id="sellerList" class="col-md-4">
    <mat-toolbar>
      <h2>Sellers</h2>
    </mat-toolbar>
    <mat-list>
      <mat-list-item *ngFor="let seller of sellers">
        {{seller.name}}
      </mat-list-item>
    </mat-list>
  </div>
</main>
