@import "~@angular/material/theming";
// Plus imports for other components in your app.
@import "./_palletes.scss";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($md-primary, 500, 200, 900);
$seconday: mat-palette($md-secondary, 500, 200, 900);
$accent: mat-palette($md-accent, 500, 200, 900);

// The warn palette is optional (defaults to red).
$warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$theme: mat-light-theme($primary, $accent, $warn);

// Insert custom background color
// $background-color: #535657;
// $background: map-get($theme, background);
// $background: map_merge(
//   $background,
//   (
//     background: $background-color
//   )
// );
// $theme: map_merge(
//   $theme,
//   (
//     background: $background
//   )
// );

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($theme);
// .alternate-theme {
// $alternate-primary: mat-palette($mat-light-blue);
// $alternate-accent: mat-palette($mat-yellow, 400);
// $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
// @include angular-material-theme($alternate-theme);
// }
// .side-menu-theme {
// background-color: mat-color($secondary, 500);
// color: #ffe;
// }
